/* === FLASH MESSAGES === */
div#flash-notice
{
	background-color: #EEE;
	margin: 3px;
	padding: 3px;
	border: 2px solid #456;
	-moz-border-radius: 7px;
}

div#flash-warning
{
	background-color: yellow;
	margin: 3px;
	padding: 3px;
	border: 2px solid #456;
	-moz-border-radius: 7px;
}

div#flash-error
{
	background-color: #FF6666;
	margin: 3px;
	padding: 3px;
	border: 2px solid #456;
	-moz-border-radius: 7px;
}

/* === ERROR MESSAGES === */
div#errorExplanation
{
	background-color: #FF6666;
	margin: 3px;
	padding: 3px 20px 3px;
	border: 2px solid #456;
	-moz-border-radius: 7px;
}

div#errorExplanation h2
{
}

div#errorExplanation p
{
}

div#errorExplanation ul
{
}

div#errorExplanation ul li
{
}

/* === FORMS === */
div.fieldWithErrors
{
}

div.fieldWithErrors label
{
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	background-color: #FF6666;
	border: 2px solid #456;
}

*
{
	margin: 1px;
	padding: 1px;
    font-family: Nazli;
    font-size: 14pt;
}

html, body
{
	height: 100%;
	margin: 1px;
	padding: 1px;
	color: black;
    background-color: #CCCCCC;
}

table
{
	height: 100%;
	width: 100%;
}

#container
{
	height: 100%;
	width: 100%;
}

#contentTD
{
	padding: 10px 50px 20px 50px;
}

#headerTD
{
	color: #CCDDEE;
	background-color: #234;
	height: 80px;
	width: 100%;
	font-size: 36pt;
	font-weight: bolder;
	border: 2px solid black;
	-moz-border-radius: 15px 15px 0px 0px;
}

#taglineTD
{
	font-size: 16pt;
	font-style: italic;
	vertical-align: baseline;
}

#footerTD
{
	color: white;
	background-color: #234;
	border: 1px solid black;
	height: 1px;
	font-size: 18pt;
	-moz-border-radius: 0px 0px 15px 15px;
}

#leftSidebarTD
{
	width: 16%;
	background-color: #99AABB;
	padding: 5px;
	border: 2px solid #456;
	font-size: 20pt;
	font-weight: bolder;
	text-align: center;
}

#leftSidebarTD a
{
	font-size: 20pt;
	font-weight: bolder;
}

#rightSidebarTD
{
	width: 16%;
	background-color: #99AABB;
	padding: 5px;
	border: 2px solid #456;
	font-size: 16pt;
	font-weight: bolder;
	text-align: center;
}

#rightSidebarTD a
{
	font-size: 16pt;
	font-weight: bolder;
}

td fieldset ol li
{
	list-style-type: none;
}

a, a:visited
{
	color: #051555;
	text-decoration: none;
}

a:hover
{
	color: maroon;
	text-decoration: overline underline;
}

input, select
{
    color: black;
}

.contentTable th
{
    border: 1px solid #112233;
    background-color: #445566;
    color: white;
    font-weight: bold;
	-moz-border-radius: 7px;
}

.contentTable th a
{
	color: orange;
}

.contentTable th a:hover
{
	color: yellow;
}

.contentTable
{
    padding: 3px;
}

.contentTable td
{
    border: 1px solid #334455;
    background-color: #8899AA;
    padding: 1px 4px 1px 4px;
    text-align: center;
}

.contentTable a, .contentTable a:visited
{
    color: #001122;
}

.contentTable a:hover
{
    color: maroon;
}

.formTable td
{
    padding: 15px 50px 15px 50px;
}

h2
{
	color: #8899AA;
	font-size: 18pt;
	font-weight: bold;
}
