<% f.inputs do %>
	<%= f.input :text %>
	<div style="position: relative; top: -30px;">
	<%= link_to_function t(:form_remove), 'remove_fields(this)' unless f.object.new_record? %>
	</div>
	<%= f.input :_destroy, :as => :hidden %>
<% end %>